data/
content/city_of_chicago_street_centerline_metadata.pdf
chicago-traffic-dataset.zip
README.md
traffic/traffic-crashes-people.csv
traffic/traffic-crashes-vehicles.csv
traffic/traffic-crashes.csv
traffic/traffic-crashes-normal-fill.csv
